{%extends 'inc/base.html' %}
    <!-- Begin page content -->
        {% block content %}
          <div class="col-8">
            <h1>New Question</h1>
            <div class="form-error">
              <h6>Здесь будет ошибка</h6>
            </div>
            <div class="new-question">
              <div class="mb-3">
                <label for="title_input" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title_input"
                  placeholder="title"
                />
              </div>
              <div class="mb-3">
                <label for="text_input" class="form-label">Text</label>
                <textarea
                  class="form-control"
                  id="text_input"
                  rows="3"
                  placeholder="text"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="tags_input" class="form-label">Tags</label>
                <input
                  type="text"
                  class="form-control"
                  id="tags_input"
                  placeholder="tags"
                />
              </div>
              <button type="button" class="btn btn-outline-dark">Ask!</button>
            </div>
          </div>
        {% endblock %}