<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AskPuzzzik</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../templates/index.html">AskPuzzzik</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex" id="form-search" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <a
              type="button"
              class="btn btn-success"
              href="../templates/ask.html"
            >
              Ask!
            </a>
            <div class="user-block">
              <div class="row">
                <div class="col-4">
                  <div class="user-block-avatar">
                    <img src="../static/img/3.jpg" alt="" />
                  </div>
                </div>
                <div class="col-8">
                  <div class="user-block-information">
                    User name
                    <div class="user-block-actions">
                      <a href="#">log out</a>
                      <a href="../templates/settings.html">settings</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div class="question-header">
              <h1>New questions</h1>
              <a id="hot-questions" href="#">Hot Questions</a>
            </div>
            <!-- question 1 -->
            <div class="question">
              <div class="row">
                <div class="col-2">
                  <div class="avatar">
                    <img src="../static/img/1.jpg" alt="" />
                  </div>
                  <div class="like">
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/dislike.png"
                    /></a>
                    <div class="counter">3</div>
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/like.png"
                    /></a>
                  </div>
                </div>
                <div class="col-10">
                  <h2 class="question-title"><a href="#">Question 1</a></h2>
                  <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus, rerum.
                  </div>
                  <div class="question-footer">
                    <span class="answer"><a href="#">answer (3)</a></span>
                    <span class="question-tags"
                      >Tags: <a href="#">black-jack</a>
                      <a href="#">bender</a></span
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- question 2 -->
            <div class="question">
              <div class="row">
                <div class="col-2">
                  <div class="avatar">
                    <img src="../static/img/2.jpg" alt="" />
                  </div>
                  <div class="like">
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/dislike.png"
                    /></a>
                    <div class="counter">2</div>
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/like.png"
                    /></a>
                  </div>
                </div>
                <div class="col-10">
                  <h2 class="question-title"><a href="#">Question 2</a></h2>
                  <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aspernatur, distinctio explicabo.
                  </div>
                  <div class="question-footer">
                    <span class="answer"><a href="#">answer (3)</a></span>
                    <span class="question-tags"
                      >Tags: <a href="#">black-jack</a>
                      <a href="#">bender</a></span
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- question 3 -->
            <div class="question">
              <div class="row">
                <div class="col-2">
                  <div class="avatar">
                    <img src="../static/img/3.jpg" alt="" />
                  </div>
                  <div class="like">
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/dislike.png"
                    /></a>
                    <div class="counter">0</div>
                    <a class="link-like" href="#"
                      ><img class="arrows" src="../static/img/like.png"
                    /></a>
                  </div>
                </div>
                <div class="col-10">
                  <h2 class="question-title"><a href="#">Question 3</a></h2>
                  <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Impedit iste neque saepe!
                  </div>
                  <div class="question-footer">
                    <span class="answer"><a href="#">answer (3)</a></span>
                    <span class="question-tags"
                      >Tags: <a href="#">black-jack</a>
                      <a href="#">bender</a></span
                    >
                  </div>
                </div>
              </div>
            </div>

            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="col-4">
            <div class="sidebar">
              <h2 class="sidebar-tags">Popular Tags</h2>
              <div class="tags">
                <span class="tag">perl</span>
                <span class="tag">python</span>
                <span class="tag">Technopark</span>
                <span class="tag">MySQL</span>
                <span class="tag">django</span>
                <span class="tag">Mail.ru</span>
                <span class="tag">Voloshin</span>
                <span class="tag">Firefox</span>
              </div>
              <h2 class="sidebar-members">Best Members</h2>
              <div class="member">
                <a href="#">Mr. Freeman</a>
              </div>
              <div class="member">
                <a href="#">Dr. House</a>
              </div>
              <div class="member">
                <a href="#">Bender</a>
              </div>
              <div class="member">
                <a href="#">Queen Victoria</a>
              </div>
              <div class="member">
                <a href="#">V. Pupkin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2021 Copyright:
        <a
          class="text-reset fw-bold"
          href="https://github.com/puzzzik/tp_web.git"
          >GitHub link</a
        >
      </div>
    </footer>
  </body>
</html>
