{% extends 'inc/base.html' %}
{% load static %}
{% block title %} AskPuzzzik Questions {% endblock %}

{% block content%}
  <div class="col-8">
    <div class="question-header">
      <h1> <a href= {% url 'index' %}> New questions </a> </h1>
      <a id="hot-questions" href={% url 'hot' %}>Hot Questions</a>
    </div>

    <!-- questions -->
    {% for question in questions %}
    <div class="question">
      <div class="row">
        <div class="col-2">
          <div class="avatar">
            <img src="
              {% if question.author.avatar %}
                {{ question.author.avatar.url }}
              {% else %}
                {% static 'img/2.jpg' %}
              {% endif %}
            " alt="" />
          </div>
          <div class="like">
            <a class="link-like" href="#"
              ><img class="arrows" src={% static "img/dislike.png" %}
            /></a>
            <div class="counter">{{ question.rating }}</div>
            <a class="link-like" href="#"
              ><img class="arrows" src={%static "img/like.png" %}
            /></a>
          </div>
        </div>
        <div class="col-10">
          <h2 class="question-title"><a href={% url 'question' question.pk %}>{{ question.title }}</a></h2>
          <div class="question-text">
            {{question.text}}
          </div>
          <div class="question-footer">
            <span class="answer"><a href="#">answer {{ question.answers.count }}</a></span>
            <span class="question-tags">Tags: 
              {% for tag in question.tags.all%}
                <a href= "{% url 'questions_tag' tag.pk %}" >{{tag.text}}</a>
              {%endfor%}
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% block pagination%}
      {% include  'inc/paginator.html' %}
    {% endblock %}
  </div>

{% endblock %}