{% extends 'inc/base.html' %}
{% load static %}
{% block title %} AskPuzzzik Login {% endblock %}

{% block content%}

          <div class="col-8">
            <h1>Log In</h1>
            <div class="form-error">
              <h6>Пароль неверный</h6>
            </div>
            <div class="login">
              <div class="mb-3">
                <label for="login_input" class="form-label">Login</label>
                <input
                  type="text"
                  class="form-control"
                  id="login_input"
                  maxlength="10"
                  placeholder="Enter you login here"
                />
              </div>
              <div class="mb-3">
                <label for="password_input" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password_input"
                  placeholder="password"
                />
              </div>
              <div id="log_in">
                <button type="button" class="btn btn-outline-dark">
                  Log in!
                </button>
              </div>
              <a href={% url 'signup'%}>create new account</a>
            </div>
          </div>
{% endblock %}