{% extends 'inc/base.html' %}
{% load static %}
{% block title %} AskPuzzzik Question {{question.title}} {% endblock %}

{% block content%}
          <div class="col-8">
            <!-- question -->
            <div class="question_answers">
              <div class="row">
                <div class="col-2">
                  <div class="avatar">
                    <img src="
                      {% if question.author.avatar %}
                        {{ question.author.avatar.url }}
                      {% else %}
                        {% static 'img/2.jpg' %}
                      {% endif %}
                    " alt="" />
                  </div>
                  <div class="like">
                    <a class="link-like" href="#"
                      ><img class="arrows" src={% static "img/dislike.png" %}
                    /></a>
                    <div class="counter">{{ question.rating }}</div>
                    <a class="link-like" href="#"
                      ><img class="arrows" src={%static "img/like.png" %}
                    /></a>
                  </div>
                </div>
                <div class="col-10">
                  <h2 class="question-title"><a href="#">{{question.title}}</a></h2>
                  <div class="question-text">
                    {{question.text}}
                  </div>
                  <div class="question-footer">
                    <span class="question-tags">Tags: 
                      {% for tag in question.tags.all%}
                        <a href="#">{{tag.text}}</a> 
                      {%endfor%}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr />


            <!-- question 2 -->

            {% for answer in answers %}
            <div class="question">
              <div class="row">
                <div class="col-2">
                  <div class="avatar">
                    <img src="
                      {% if question.author.avatar %}
                        {{ question.author.avatar.url }}
                      {% else %}
                        {% static 'img/2.jpg' %}
                      {% endif %}
                    " alt="" />
                  </div>
                  <div class="like">
                    <a class="link-like" href="#"
                      ><img class="arrows" src={% static "img/dislike.png" %}
                    /></a>
                    <div class="counter">{{ question.rating }}</div>
                    <a class="link-like" href="#"
                      ><img class="arrows" src={%static "img/like.png" %}
                    /></a>
                  </div>
                </div>
                <div class="col-10">
                  <div class="question-text">
                    {{answer.text}}
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value={{answer.correct}}
                      id="correct_answer1"
                    />
                    <label class="form-check-label" for="correct_answer1">
                      Correct!
                    </label>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            
            {% include 'inc/paginator.html'%}

            
            <hr />

            <div class="mb-3">
              <label for="answer_input" class="form-label"
                >Add your answer</label
              >
              <textarea
                class="form-control"
                id="answer_input"
                rows="3"
                placeholder="Enter your answer here"
              ></textarea>
            </div>
            <button type="button" class="btn btn-secondary">Answer</button>
          </div>
{% endblock %}